---
# Copyright (c) 2018 Florian Klampfer <https://qwtel.com/>
layout: page
---

{{ content }}

{% assign show_collection = page.show_collection | default:"code" %}
{% assign ordered_projects = site[show_collection] | sort:"date" | reverse %}
{% assign nsd = site.hydejack.no_structured_data | default:site.no_structured_data %}

{% assign projects_group_by = site.data.strings.date_formats.projects_group_by | default:"%Y" %}

{% for project in ordered_projects %}
  {% assign currentdate = project.date | date:projects_group_by %}

  {% if currentdate != date %}
    {% unless forloop.first %}</div>{% endunless %}

    <h2 id="{{ projects_group_by | slugify }}-{{ currentdate | slugify }}">{{ currentdate }}</h2>
    <div class="columns">
    {% assign date = currentdate %}
  {% endif %}

  {% assign featured = page.featured | default:project.featured | default:page.big_project | default:project.big_project %}
  <div class="column {% if featured %}column-1{% else %}column-1-2{% endif %}">
    {% include pro/project-card.html project=project featured=featured %}
  </div>

  {% if forloop.last %}</div>{% endif %}
{% endfor %}
